@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 427px) and (min-width: 1px) {
  #fdc {
    flex-direction: column;
  }
  #btns {
    padding-top: 40px;
  }
  #top {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
  #fdc {
    flex-direction: column;
  }
  #btns {
    padding-top: 40px;
  }
  #top {
    padding-top: 20px;
  }
}
